* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  background-color: #f1f3f6;
}

main {
  min-height: 80vh;
}

.product-name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ratings-box {
  position: relative;
  color: white;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  padding: 2px 4px 2px 6px;
  border-radius: 3px;
}
.ratings-content {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.products {
  transition: all ease-in 0.25s;
}

.products:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.219);
}

.reviews {
  font-size: 15px;
}

.neg {
  background-color: #ff6161;
}

.mid {
  background-color: orange;
}

.pos {
  background-color: #388e3c;
}

.test {
  background-color: saddlebrown;
}

.button-group {
  height: 65px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 7.5px;
}

.cart-btn {
  background-color: #ff9f00;
  height: 95%;
  text-transform: uppercase;
  border: none;
}

.buy-focus:focus {
  background-color: #fb641b;
}

.cart-focus:focus {
  background-color: #ffae2b;
}

.cart-btn:hover {
  background-color: #ffae2b;
}

.buy-btn {
  background-color: #fb641b;
  height: 95%;
  text-transform: uppercase;
  border: none;
}

.buy-btn:hover {
  background-color: #fd7b39;
}

.action {
  font-weight: 700;
}

.go-back {
  font-weight: 700;
  color: #8f8f8fe1;
  border: 2px solid #b8b8b8e1;
}

.login-btn {
  color: var(--bs-primary);
  font-weight: 700;
  background-color: white;
  padding: 3.5px 45px;
}

.cart-dropdown {
  font-weight: 700;
  padding: 5px 45px;
}
